@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500;700&family=Raleway:wght@600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

/* Variables*/
:root {
  --main-color: #fdf0d5ff ;
  --body-color: #272727;
  --container-color: rgb(0, 132, 203);
  --headding-color: #0ACACA;
  --box-color: #023047;
  --bg-color: #fff;
  --gray-regular: #848484;
  --withe: #fff;
  /* CSS HEX */
  /*--headding-color: #780000ff rojo oscuro;
  --container-color: #c1121fff rojo;
  --body-color: #fdf0d5ff color marfil;
  --main-color: #003049ff azul oscuro;
  --container-color: #669bbcff azul claro;
  --bg-color: #fff; blanco*/
}

body {
  color: var(--bg-color);
  background-color: var(--body-color);
}

html {
  scrollbar-width: 0.5rem;
  scrollbar-color: #09C var(--headding-color);
}

html::-webkit-scrollbar {
  width: 1rem;
  background: rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--container-color);
  height: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--headding-color);
  height: 0.8rem;
}

.d-none {
  display: none;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 3rem 0;
  margin: 3rem 0rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.py-3 {
  padding: 3rem 0rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.py-4 {
  padding: 4rem 0rem;
}

.my-4 {
  margin: 4rem 0rem;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  row-gap: 24px;
  grid-auto-rows: minmax(100px, auto);
}

.img-fluid {
  width: 100%;
}

/*==========
    Header
===========*/
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--box-color);
  border-bottom: 1px solid #42D8F9;
}

.header-active {
  background: var(--box-color);
  transition: 0.4s;
}

.normal-logo {
  color: var(--headding-color);
}

.logo-active {
  color: #fff;
}

/*Nav*/
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 2rem;
}
@media (max-width: 769px) {
  .nav {
    justify-content: flex-end;
  }
  .nav .menu-icon {
    display: flex;
  }
  .nav .navbar {
    position: absolute;
    top: 50px;
    /* right: -100%; */
    width: 300px;
    height: 100vh;
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    visibility: collapse;
    opacity: 0;
  }
  .nav .open-menu {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav .nav-link {
    display: block;
    margin: 1rem 0;
  }
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-link {
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--bg-color);
}

.nav-link:hover {
  color: var(--main-color);
  background: var(--container-color);
  transition: 0.3s all;
}

/*==========
    Home
===========*/
.home {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7rem;
}
.home-content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.home-img {
  width: 50%;
  height: auto;
  object-fit: contain;
  padding: 1rem;
}
.home-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
}
.home-text h3 {
  position: relative;
  display: flex;
  padding-left: 2rem;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--headding-color);
}
.home-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: 17px;
  width: 20px;
  height: 2px;
  background: var(--headding-color);
}
.home-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background: var(--headding-color);
}
.home-text h2 {
  font-size: 4rem;
  line-height: 7rem;
}
.home-text p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.home-text .color {
  color: var(--headding-color);
  font-weight: 600;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social {
  display: flex;
  gap: 1rem;
}
.social a {
  display: flex;
  border: 1px solid var(--gray-regular);
  font-size: 1.3rem;
  padding: 10px;
  gap: 0.5rem;
  border-radius: 32px;
  background-color: var(--white);
  color: var(--withe);
  font-weight: 100;
}
.social .bx {
  display: block;
  font-size: 1.8rem;
  background-color: var(--white);
}

.social .bx:hover {
  background-color: var(--white);
  transition: 0.3s all linear;
}

/*# sourceMappingURL=main.css.map */
