/*==========
    Header
===========*/

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--box-color);
    border-bottom: 1px solid #42D8F9;
}

.header-active{
    background: var(--box-color);
    transition: 0.4s;
}

.normal-logo {
    color: var(--headding-color);
}

.logo-active {
    color: #fff;
}

/*Nav*/

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 2rem;

    @media (max-width: 769px ){

        justify-content: flex-end;

        .menu-icon {
            display: flex;
        }
        
        .navbar{
            position: absolute;
            top: 50px;
            /* right: -100%; */
            width: 300px;
            height: 100vh;
            background: var(--box-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 20px;
            visibility: collapse;
            opacity: 0;
        }

        .open-menu{
            opacity: 1;
            visibility: visible;
            right: 0;
            transition:  0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    
        .nav-link{
            display: block;
            margin: 1rem 0;
        }
    }

}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all;
}


/*menu icon*/

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
display: block;
background: var(--bg-color);
height: 2px;
width: 24px;
transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}


.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}