
/*==========
    Home
===========*/
.home{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7rem;
    background-color: var(--body-color);

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
        padding-top: 3rem;
    }

    @media screen and (max-width: 992px) {
        min-height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
        padding-top: 3rem;
    }

    &-content{
        position: relative;
        max-width: 1058px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0 2rem;

     @media screen and (min-width: 768px){
        flex-direction: row;
     }
       
    }

    &-img{
        width: 100%;
       
        object-fit: contain;
        padding: 1rem;

        @media screen and (min-width: 768px){
            width: 50%;
            height: auto;
         }
    }

    &-text{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: start;

        @media screen and (max-width: 767px){
            width: 90%;
            height: auto;
         }
    }

    &-text h3{
        position: relative;
        display: flex;
        padding-left: 2rem;
        align-items: center;
        column-gap:  0.5rem;
        font-size:  1.1rem;
        color: var(--headding-color);
    }
    
    &-text h3::before{
       content: '';
       position: absolute;
       top: 50%;
       transform: translate(-50%);
       left: 17px;
       width: 20px;
       height: 2px;
       background: var(--headding-color);
    }
    
    &-text h3::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        right: -35px;
        width: 20px;
        height: 2px;
        background: var(--headding-color);
     }
    
    &-text h2{
        font-size: 4rem;
        line-height: 7rem;
    
    }
    
    &-text p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    &-text .color{
        color: var(--headding-color);
        font-weight: 600;
        }
}


.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;


   
}

.social {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }
    a{
        display: flex;
        border: 1px solid var(--gray-regular);
        font-size: 1.3rem;
        padding: 10px;
        gap: .5rem;
        border-radius:  32px;
        background-color: var(--white);
        color: var(--withe);
        font-weight: 100;

    }

   .bx{
        display: block ;
        font-size: 1.8rem;
        background-color: var(--white);
    }
   
    
}


.social .bx:hover{
    background-color: var(--white);
    transition: 0.3s all linear;
     
}

/*========
About me 
==========*/


@media (min-width: 769px) {
    .about {
        height: 100%;
    }
    
}


.about {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;

    p{
        color: #333333;
    }
    h3{
        font-size: 2rem;
    }

    .container{
        max-width: 1058px;
        h2{
            margin-bottom: 0px ;
        }
        
        .text-intro{
            margin-bottom: 4rem;
        }

        .cv-btn{
            margin: 0 auto;
            display: block;
            width: fit-content;

        }

    }
    

    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem

        
    }
    &-img{
        grid-column: 1 / 3;
        display: flex;
          @media screen and (min-width: 768px) {
            grid-column: 2 / 3;
          }
    }
    .about-data {
        display: flex;
        flex-direction: column;
        gap: 3.1rem;
        grid-column: 1 / 2;

        @media screen and (max-width: 767px) {
            grid-column: 1 / -1;
        }
        
    }
    
    .about-data h2{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin: 1rem 0;
        color: var(--box-color);
    }
    
    h2 ul li{
        list-style: disc;
        list-style-position: outside;
    }
    
   
    
    .btn .bx{
        font-size: 1.2rem;
    }
    
    .btn:hover{
        background: var(--body-color);
        transition: 0.3s all linear;
    } 
    
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      }
    
    
    .about-text p{
        font-size: 0.938rem;
        letter-spacing: 1px;
        text-align: start;
        margin-bottom: 1.5rem;
        color: var(--box-color);
    
    
    }



}

/*========
Experiencia
==========*/


.projects{
    min-height: 100vh;
    background-color: var(--body-color);
    &-intro{
        margin-bottom: 1rem;
    }

    &-tabs{
        width: 100%;
        margin-top: 2rem;
        .tabs-tablink{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            gap: 2rem;
            flex-wrap: wrap;

            &__tablink{
                display: flex;
                background-color: white;
                border-radius: 2rem;
               
                border: none;
                align-items: center;
                justify-content: center;
                outline: none;
                cursor: pointer;
                padding: 10px 24px;
                gap: 1rem;
                transition: background-color 0.3s;
                font-size: 1.5rem;
                color: #023047;

                img{
                    height: 24px;
                }
                
            }
        }

      
    }

    &-contet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-content: center;

        &__timeline{
            border-left: 3px solid var(--headding-color);
            padding-left: 0rem;
            padding-top: 1rem;
            grid-column: 1 / 2;
            height: fit-content;
            @media screen and (max-width: 768px) {
                grid-column: 1 / 3;
                margin-top: 3rem;
            }

            &-item{
                padding-left: 3rem;
                position: relative;
                margin-top: 1rem;
                margin-bottom: 2rem;
                h3{
                    position: relative;
                }
                h3::after{
                    content: url('../img/empresa-icon.svg');
                    width: 15px;
                    height: 17px;
                    left: -23px;
                    top: 0;
                    position: absolute;
                }

                ul{
                    padding-left: 1.5rem;
                    li{

                        list-style: disc;
                        
                    }
                }

                strong{
                    color: var(--headding-color);
                }
            }
            &-item::after{
                content: "";
                height: 24px;
                width: 24px;
                position: absolute;
                left: -13px;
                top: 0px;
                background-color: var(--headding-color);
                border-radius: 50%;
            }
            
        }

        &__img{
            grid-auto-flow: 2 / 3;
            display: flex;
            align-items: center;

            @media screen and (max-width: 768px) {
                grid-column: 1 / 3;
                margin-top: 2rem;
            }

        }
        
    }

    .project-box{
        padding: 20px 10px;
        background: var(--box-color);
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
       grid-column: 1 / 2;

    }
    .project-img{
        padding: 20px 10px;
        background: var(--box-color);
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
       
    }

    
    .project-box h2{
        font-size: 1.2rem;
    }
    
    .project-box span{
        font-size: 0.845rem;
    }
    
}

/* Estilo de los botones de los tabs */
.tablink {
   
  }
  
  .tablink:hover {
    background-color: #ddd;
  }
  
  /* Estilo del contenido de los tabs */
  .tabcontent {
    display: none;
    padding: 20px;
  }
  
  /* Estilo para mostrar la pestaña activa */
  .active {
    display: block;
  }

.btn-experience {
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 5px;
    border-radius: 50%;
    border: 2px dashed var(--bg-color);
    display: block;
    height: 2em;
    width: 2em;
    margin: 12px auto;;
}

/*========
Servicios
==========*/


.services{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .services-content{
        display: grid;
        width: 100%;
        max-width: 1058px;
        margin: 0 auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2rem;

        &__text{
            grid-column: 1 / -1;
            color: #333333;
            margin-bottom: 1rem;
        }

        &__items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            @media  screen and (min-width: 990px) {
                
               
             }
            @media  screen and (min-width: 521px) {

             }
            @media  screen and (max-width: 520px) {
               gap: 2rem;               
            }


            .services-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                padding: 1rem;
                gap: 24px;
                border: solid 1px var(--headding-color);
                border-radius: 1rem;
                transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);

             
               
              
                @media  screen and (max-width: 520px) {
                    grid-column: 1/-1;
                    flex-direction: column;
                    height: auto;
                    
                }

                @media  screen and (min-width: 521px) {
                    grid-column: auto;
                    flex-direction: column;
                    height: auto;
                    
                }
                
                @media  screen and (max-width: 768px) {
                    flex-direction: column;
                    height: auto;
                    
                }

                @media  screen and (min-width: 991px) {
                    flex-direction: row;
                    height: auto;
                }

                
                &__txt{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: start;
                    height: 100%;
                    @media  screen and (max-width: 990px) {
                        width: 100%;
                         
                     }
                    
                    @media  screen and (max-width: 768px) {
                       width: 100%;
                        
                    }
                    
                    a{
                        font-weight: 700;
                        color: var(--box-color);
                    }
                    a:hover{
                        color: var(--container-color);
                    }
                   &-cont {
                    color: var(--body-color);
                    h5{
                        color: var(--box-color);
                    }
                   }
                }  

                &__img{
                    border-right: solid 1px var(--body-color);
                    width: 50%;
                    display: block;
                    height: 100%;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media  screen and (max-width: 520px) {
                        border-bottom: solid 1px var(--body-color);
                        border-right: none;
                        width: 100%;
                        max-width: 100%;
                        flex-shrink: 0;;
                        height: 310px;
                    }

                    @media  screen and (max-width: 767px) {
                        border-bottom: solid 1px var(--body-color);
                        border-right: none;
                        width: 100%;
                        flex-shrink: 0;
                        height: 310px;
                    }

                    @media  screen and (min-width: 768px) {
                        border-bottom: solid 1px var(--body-color);
                        border-right: none;
                        width: 100%;
                        flex-shrink: 0;
                        max-width: 310px;
                        height: 310px;
                    }
                    @media  screen and (min-width: 990px) {
                        border-bottom: none;
                        border-right: none;
                        width: 50%;
                        flex-shrink: 0;
                        max-width: 310px;
                        height: 100%;
                        border-right: solid 1px var(--body-color);
                    }
                    img{
                       
                       align-items: center;
                        width: 100%;
                        display: block;
                    }
                }
                
                }
                
                // .services-box:hover{
                // transform: scale(1.05);
                // transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
                // cursor: pointer;
                // }
                
                // .services-box .bx{
                // font-size: 1.4rem;
                // color: var(--main-color);
                // padding: 10px;
                // border-radius: 5rem;
                // border: 2px dashed var(--bg-color);
                // }
                
                // .services-box h2{
                // font-size: 1.1rem;
                // font-weight: 500;
                // margin: 0.5rem 0;
                // color: var(--main-color);
                // }
                
                // .services-box p{
                // font-size: 0.9rem;
                // }
            
        }

        }
        h3{
            margin-top: 3rem;
            margin-bottom: 1rem;
            color: var(--box-color);
            font-size: 2rem;
        }

        p{
            color: #333333;
        }

     .skills-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 3rem;
        @media screen and (max-width: 767px){
            flex-direction: column;
            gap: 1rem;
        }

        &__items{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @media screen and (max-width: 767px){
                max-width: 100%;
                    height: 100px;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    width: 100%;
                    overflow-x: auto;
                    margin-bottom: 1rem;
                }
            
            &-box{
                width: 100%;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                border: 1px solid var(--headding-color);
                border-radius: 8px;
                align-items: center;

                @media screen and (max-width: 767px){
                    flex-shrink: 0;
                    width: 90%;
                    height: 91px;
                    }

                .skills-box__image{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    img{
                        width: 50px;
                    }
                    
                }

                .skills-box__info{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 4px;
                    p{
                        color: black;
                    }

                    .range-container{
                        display: flex;
                        gap: 10px;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        p{
                            color: var(--headding-color);
                        }

                        &__bg{
                            width: 100%;
                            height: 16px;
                            display: block;
                            background-color: var(--box-color);
                            border: solid 1px var(--headding-color);
                            border-radius: .5rem;

                            &-fill{
                                height: 100%;
                                background-color: var(--headding-color);
                                width: 95%;
                                border-radius: .5rem;
                            }

                        }
                    }

                }
            }

        }

     }  
    
     .software-item {
        display: flex;
        flex-direction: row;
         border-radius: 8px;
         padding: 1rem;
         align-items: center;
         gap: 8px;
        width: fit-content;
         border: 1px solid var(--headding-color);
        &__img{
            
            img{
                width: 48px;
            height: 48px;
            object-fit: contain;
            }
        }
        
        &__text{
            text-wrap: wrap;
            width: 100%;
            font-weight: 700;
        }
    
     }

     .software{
        position: relative;
        .owl-carousel {
            position: relative;
            .owl-nav{
                position: absolute;
                display: flex;
                justify-content: space-between;
                top: -106px;
                height: 82px;
                width: 90px;
                left: 160px;
                // Personalizar el color del botón de navegación
                .owl-prev,
                .owl-next, span {
                    font-size: 5rem;
                    color: black;
                }           
            }
    
           
        
            // .owl-nav.disabled + .owl-dots{
            //     margin-top: 10px;
            // }
            .owl-dots  {
                text-align: center;
                margin-top: 1rem;
              }
        
              .owl-dots span {
                width: 10px;
                height: 10px;
                margin:  5px 7px;
                background: #000F1B!important;
              }
              
              .owl-dots .owl-dot {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: #262626;
                border-radius: 50%!important;
                margin: 0 5px;
              }
              
              .owl-dot.active {
                background-color: #49A9F5;
              }
         }
            // .custom-nav {
            //     position: absolute;
            //     top: 0px;
            //     left: 0px;
            //     z-index: 1000;
            //     width: 100%;
            //     display: flex;
            //     height: 82px;
            //     justify-content: space-between;
            //   }
              
            //   .custom-nav button {
            //     background: none;
            //     border: none;
            //     cursor: pointer;
            //   }
              
            //   .custom-nav button img {
            //     width: 30px; /* Ajusta el tamaño según tu diseño */
            //   }
              
            //   .owl-prev {
            //     left: -50px;
            //   }
              
            //   .owl-next {
            //     right: -50px;
            //   }

        
     }
     

   
   

}

/*portfolio*/

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.portfolio-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
    
}

.portfolio-img{
    width: 100%;
    height: 100%;
object-position: center;
    object-fit: cover;
}

.portfolio-overlay{
    position: absolute;
    top: -1000;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234,45%,16%,0.7);
}

.portfolio-overlay h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom:  10px;
}

.portfolio-overlay .bx{
    font-size: 24px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}

.portfolio-overlay .bx:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay{
    top: 0;
    transition: 0.3s all ease 0s;
}




