body {
    color: var(--bg-color);
  
    
}


html{
    scrollbar-width: 0.5rem;
    scrollbar-color: #09C  var(--headding-color);
}


html::-webkit-scrollbar{
    width: 1rem;
    background: rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--container-color);
    height: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--headding-color);
    height: 0.8rem;
}



.btn{
   display: block;
   width: fit-content;
padding: 1rem 2rem;

}

.btn-cv{
    margin-top: 1rem !important;
    margin: 0 auto;
    display: flex;
    border-radius: 2rem;
    background-color: var(--box-color);
    color: white;
    align-items: baseline;
    gap: .5rem;

    img{
        width: 30px;
    }
}

.d-none {
    display: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 3rem 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.py-1 {
    padding: 1rem 0rem;
}
.py-2 {
    padding: 1rem 0rem;
}
.py-3 {
    padding: 3rem 0rem;
}

.my-2 {
    margin: 2rem 0rem;
}

.my-3 {
    margin: 3rem 0rem;
}


.py-4 {
    padding: 4rem 0rem;
}

.my-4 {
    margin: 4rem 0rem;
}


.text-center{
    text-align: center;
}

.container {
    max-width: 1058px;
    margin: 0 auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 24px;
    grid-auto-rows: minmax(100px, auto);
}

.img-fluid {
    width: 100%;
}

/*==========
    headding
===========*/

.heading{
    font-size: 5rem;
    color: var(--headding-color);
    text-align: center;
    margin-bottom: 2rem;
}

h3{
    color: var(--box-color);
}