
/* Variables*/
:root {

    --main-color: #fdf0d5ff ;
    --body-color: #272727;
    --container-color: rgb(0, 132, 203);
    --headding-color: #0ACACA;
    --box-color: #023047;
    --bg-color: #fff;
    --gray-regular: #848484;
    --withe: #fff;

    /* CSS HEX */
    /*--headding-color: #780000ff rojo oscuro;
--container-color: #c1121fff rojo;
--body-color: #fdf0d5ff color marfil;
--main-color: #003049ff azul oscuro;
--container-color: #669bbcff azul claro;
--bg-color: #fff; blanco*/

}

